{% extends 'comp/base.html' %}

{% block class %}login form{% endblock class %}


{% block content %}
  <div class="{% block form_class %}{% endblock form_class %} form">
    <div class="title">
      {% block form_title %}
        title
      {% endblock form_title %}
    </div>
    <div class="text">
      {% include 'comp/icon.html' %}
      {% block form_text %}
        text
      {% endblock form_text %}
    </div>
    <form method="POST">
      {% csrf_token %}

      {% if form.errors %}
        <div class="error_list">
          {% include 'comp/x.html' %}
          {% for errors in form.errors.values %}
            {% for error in errors %}
              <div class="error">
                {{ error }}
              </div>
            {% endfor %}
          {% endfor %}
        </div>
      {% endif %}

      {% for field in form %}
        <div class="form_item {{ field.html_name }}">
          <div class="input">
            {{ field }}
            {{ field.label_tag }}
          </div>
          {% if field.help_text %}
            <div class="help_text">
              {{ field.help_text }}
            </div>
          {% endif %}

          {% comment %} {% if field.html_name == 'password' or field.html_name == 'old_password' %}
            <a href="{% url 'users:password_reset' %}" class="password_forget under">パスワードを忘れた場合</a>
          {% endif %} {% endcomment %}

        </div>
      {% endfor %}
      <div class="form_buttons">
        <button type="submit">
          {% block form_button_text %}
            button
          {% endblock form_button_text %}
        </button>
        <button type="reset">リセット</button>
        <span class="alt">
          {% if "login" in request.path %}
            もしくは <a href="{% url 'users:signup' %}?next={{ next }}" class="under">新規登録</a>
          {% elif "signup" in request.path %}
            もしくは <a href="{% url 'users:login' %}?next={{ next }}" class="under">ログイン</a>
          {% endif %}
        </span>
      </div>
      <input type="hidden" name="next" value="{{ next }}"/>
    </form>
  </div>



{% endblock content %}
