{% extends 'comp/base.html' %}


{% block class %}password_change form{% endblock class %}


{% block content %}
  <div class="password_change form">
    <div class="title">パスワード変更</div>
    <div class="text">
      {% include 'comp/icon.html' %}
      新しいパスワードは何でしょう？
    </div>
    <form method="post">
      {% csrf_token %}

      {% if form.errors %}
        <div class="error_list">
          {% include 'comp/x.html' %}
          {% for errors in form.errors.values %}
            {% for error in errors %}
              <div class="error">
                {{ error }}
              </div>
            {% endfor %}
          {% endfor %}
        </div>
      {% endif %}

      {% for field in form %}
        <div class="form_item {{ field.html_name }}">
          <div class="input">
            {{ field }}
            {{ field.label_tag }}
          </div>
          {% if field.help_text %}
            <div class="help_text">
              {{ field.help_text }}
            </div>
          {% endif %}
        </div>
      {% endfor %}
      <div class="form_buttons">
        <button type="submit">変更</button>
        <button type="reset">リセット</button>
      </div>
      <input type="hidden" name="next" value="{{ next }}"/>
    </form>
  </div>
{% endblock content %}
