body > .back {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  top: 0;
  left: -3%;
  width: 106%;
  height: 100vh;
  z-index: -10;
  pointer-events: none;
  background-color: var(--green);

  .icon {
    --size: 40px;
    --color: var(--green-dark);
  }

  .line {
    display: flex;
    justify-content: space-evenly;
    width: 100%;

    &:nth-child(even) {
      justify-content: space-between;

      .icon {
        &:first-child, &:last-child {
          opacity: 0;
        }
      }
    }
  }
}
