.btn {
  --size: 64px;
  --color1: var(--red);
  --color2: #fff;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: calc(var(--size) * 0.2);
  width: var(--size);
  height: calc(var(--size) * 1.2);
  color: var(--color2);
  cursor: pointer;
  user-select: none;
  font-size: 20px;
  font-weight: 500;
  z-index: 2;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--size);
    background-color: var(--color1);
    border-radius: 100000px;
    z-index: -1;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color1);
    filter: brightness(.9);
    border-radius: 100000px;
    z-index: -2;
  }

  &:hover {
    transform: translateY(2%);

    &:before {
      height: 98%;
    }
  }

  &:active {
    transform: translateY(10%);

    &:before {
      height: 90%;
    }
  }

  &:visited {
    color: var(--color2);
  }

  &#twitter {
    --color1: #00acee;

    &:after {
      content: "\f099";
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: "Font Awesome 5 Brands";
      color: #fff;
    }
  }
  &#line {
    --color1: #06c755;

    &:after {
      content: "\f3c0";
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: "Font Awesome 5 Brands";
      color: #fff;
    }
  }
}