footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: var(--footer-height);
  align-self: flex-end;
  font-size: 10px;
  line-height: var(--footer-height);
  letter-spacing: .7em;
  font-weight: 300;
  color: #fff;
  background-color: transparent;
}