footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: var(--footer-height);
  align-self: flex-end;
  font-size: 0.9rem;
  letter-spacing: 3px;
  font-weight: bold;
  color: #fff;
  background-color: var(--green);
}