header {
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--header-height);
  background-color: var(--green);
  color: #fff;

  .logo {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 20px;
    color: #fff;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;

    .icon {
      --color: #fff;
      --inner: var(--green);
      --size: 32px;
    }
    .text {
      display: flex;
      align-items: flex-end;
      margin-left: 3px;
      height: 100%;
    }
  }

  nav {
    flex-grow: 2;
  }

  .user {
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 20px;
    font-weight: 600;
    font-size: 1.1rem;

    a {
      position: relative;
      display: flex;
      align-items: center;
      height: 100%;
      color: #fff;

      &:not(:first-child) {
        margin-left: 20px;
      }

      &:before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        bottom: 0px;
        width: 0;
        height: 3px;
        background-color: #fff;
        transition: .2s;
      }

      &:hover {
        &:before {
          width: 100%;
        }
      }

      span {
        margin-right: 5px;
      }

    }
  }
}