header {
  width: 100%;
  height: 50px;
  background-color: var(--green);

  .logo {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 20px;
    color: #fff;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;

    .icon {
      --color: #fff;
      --inner: var(--green);
      width: 32px;
      padding-top: 32px;
    }
    .text {
      display: flex;
      align-items: flex-end;
      margin-left: 3px;
      height: 100%;
    }
  }
}