.notice_list {
  position: fixed;
  right: 0;
  top: var(--header-height);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: .5em 1em;
  width: fit-content;
  z-index: 5;

  .notice_item {
    --color: var(--red);
    position: relative;
    display: flex;
    align-items: center;
    width: max-content;
    font-size: 1.2rem;
    font-weight: 600;
    padding: .5em 1em;
    background: #fffc;
    border-radius: 5px;
    box-shadow: 0 0 15px -7px var(--color);
    transform-origin: top center;
    margin-bottom: 15px;

    &.on {
      animation: slideIn .5s 1;
    }

    @keyframes slideIn {
      0% {
        left: 150%;
      }
      100% {
        left: 0%;
      }
    }

    &.off {
      animation: slideOut .5s 1 forwards;

      @keyframes slideOut {
        0% {
          left: 0%;
        }
        100% {
          left: 150%;
        }
      }
    }

    .o_icon {
      margin-right: 1em;
    }

    &.copy {
      &.q, &.a {
        span {
          margin-right: 1em;
        }
      }
      &.q {
        --color: var(--green);
        span {
          color: var(--green);
        }
      }
      &.a {
        --color: var(--orange);
        span {
          color: var(--orange);
        }
      }
    }
  }
}