@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Poppins:wght@900&display=swap');

:root {
  --orange: #F09A54;
  --green: #56DC7E;
  --red: #F25E5E;
  --blue: #4985E6;
  --purple: #9B66CC;
  --green-dark: #24AD4E;
  --blue-dark: #1D65D7;
  --orange-rgb: 240, 154, 84;
  --green-rgb: 86, 220, 126;
  --red-rgb: 242, 94, 94;
  --blue-rgb: 73, 133, 230;
  --header-height: 50px;
  --footer-height: 30px;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;

  &>.main {
    width: 100%;
    height: calc(100% - var(--header-height) - var(--footer-height));
    flex-grow: 2;
  }
}