{% extends 'user_menu_widget.html' %}


{% block menuitems %}
<div class="menuitem">

  {% if request.user.username %}
    <a href="{% url 'app:userpage' request.user.username %}">
      <i class="far fa-address-card"></i>
      マイページ
    </a>
  {% endif %}

</div>
<div class="menuitem">
  <a href="{% url 'app:user_quiz_list' user.username %}">
    <i class="fas fa-list-ul"></i>
    作問一覧
  </a>
</div>
<div class="menuitem">
  <a href="{% url 'app:draft_list' %}">
    <i class="fas fa-list-ul"></i>
    下書き一覧
  </a>
</div>
<div class="menuitem">
  <a href="{% url 'app:good_quiz_quiz_list' user.username %}">
    <i class="fas fa-list-ul"></i>
    GQ一覧
  </a>
</div>
<div class="menuitem">
  <a href="{% url 'app:betamon_quiz_list' user.username %}">
    <i class="fas fa-list-ul"></i>
    ベタ一覧
  </a>
</div>
{% endblock menuitems %}