{% extends 'comp/base.html' %}


{% block class %}userpage{% endblock class %}


{% block content %}
  <div class="inner">
    <div class="left">
      <div class="username">
        {{ view.kwargs.slug }}
      </div>
      <div class="setting">
        {% if request.user == user_ %}
          <i class="fas fa-cog"></i>
          設定
          <a href="{% url 'users:password_change' %}">パスワード変更</a>
          <a href="{% url 'users:user_detail' user.username %}">登録情報確認</a>
          <a href="{% url 'users:user_update' user.username %}">登録情報変更</a>
        {% endif %}
      </div>
    </div>
    <div class="right">
      <div class="head">
        <div id="quiz" class="on">作問</div>
        <div id="gq">GQ</div>
        <div id="beta">ベタ問</div>
      </div>
      <div class="list">
        <div class="on" id="quiz">
          {% for quiz in updated %}
          <div class="item">
            <a href="{% url 'app:quiz_detail' quiz.pk %}" class="q">
              {{ quiz.question }}
            </a>
            <div class="foot">
              <div class="update">
                <i class="fas fa-history"></i>
                {{ quiz.updated_at|date:"Y/m/d H:i" }}
              </div>
            </div>
          </div>
          {% endfor %}
          <div class="foot">
            <a href="{% url 'app:user_quiz_list' view.kwargs.slug %}" class="under">詳細</a>
          </div>
        </div>
        <div id="gq">
          {% for quiz in goodquiz %}
          <div class="item">
            <a href="{% url 'app:quiz_detail' quiz.pk %}" class="q">
              {{ quiz.question }}
            </a>
            <div class="foot">
              <div class="update">
                <i class="fas fa-history"></i>
                {{ quiz.updated_at|date:"Y/m/d H:i" }}
              </div>
            </div>
          </div>
          {% endfor %}
          <div class="foot">
            <a href="{% url 'app:good_quiz_quiz_list' view.kwargs.slug %}" class="under">詳細</a>
          </div>
        </div>
        <div id="beta">
          {% for quiz in betamon %}
          <div class="item">
            <a href="{% url 'app:quiz_detail' quiz.pk %}" class="q">
              {{ quiz.question }}
            </a>
            <div class="foot">
              <div class="update">
                <i class="fas fa-history"></i>
                {{ quiz.updated_at|date:"Y/m/d H:i" }}
              </div>
            </div>
          </div>
          {% endfor %}
          <div class="foot">
            <a href="{% url 'app:betamon_quiz_list' view.kwargs.slug %}" class="under">詳細</a>
          </div>
        </div>
      </div>
    </div>

  </div>

{% endblock content %}


{% block foot %}
  <script>
    var listElms = getElms(".right .list > *")
    var tabBtnElms = getElms(".right .head > *")
    for(var tabBtnElm of tabBtnElms) {
      tabBtnElm.addEventListener("click", e => {
        for(var tabBtnElm_ of tabBtnElms) {
          tabBtnElm_.classList.remove("on")
        }
        e.currentTarget.classList.add("on")
        for(var listElm of listElms) {
          listElm.classList.remove("on")
          if(listElm.id == e.currentTarget.id) {
            listElm.classList.add("on")
          }
        }
      })
    }
  </script>
{% endblock foot %}
