{% extends 'comp/base.html' %}
{% load list_indexer %}

{% block class %}quiz detail{% endblock class %}

{% block content %}
  <div class="quiz">
    <div class="q">
      <div class="text">
        {% for slash in slashes %}
          <span>{% idx quiz.question forloop.counter0 %}</span>
          <div class="slash">
            <div class="box">
              <div>読み始めが一致するクイズ: {% idx n_start_equals forloop.counter0 %} 問</div>
              <div>ボタンが押された数: {{ slash.n_push }}</div>
              <div>正答: {{ slash.n_correct }}</div>
              <div>誤答: {{ slash.n_uncorrect }}</div>
              <div>正答率: {{ slash.correct_ratio }}</div>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="back">
        <div class="wrapper">
          {% include 'comp/icon.html' %}
        </div>
      </div>
      <div class="btn-copy btn" id="q" data-text="{{quiz.question}}">
        <span class="material-icons-outlined">
          content_copy
        </span>
      </div>
    </div>
    <div class="a">
      <div class="text">
        {{ quiz.answer }}
        <div class="ans_yomi">{{ quiz.answer_yomi }}</div>
      </div>
      <div class="back">A</div>
      <div class="btn-copy btn" id="a" data-text="{{quiz.answer}}">
        <span class="material-icons-outlined">
          content_copy
        </span>
      </div>
    </div>
  </div>
  <div class="info">
    <div class="text">
      <div class="author">{{ quiz.author }}</div>
      <div class="created">{{ quiz.created_at }}</div>
      <div class="updated">{{ quiz.updated_at }}</div>
      <div class="encount">{{ quiz.n_encount }}</div>
      <div class="push">{{ quiz.n_push }}</div>
      <div class="through">{{ quiz.n_through }}</div>
      <div class="correct">{{ quiz.n_correct }}</div>
      <div class="uncorrect">{{ quiz.n_uncorrect }}</div>
    </div>

    <div class="btns">
      {% if user == quiz.author %}
        {% if quiz.is_draft %}
          <div class="btn draft">
            公開
          </div>
        {% else %}
          <div class="btn publish">
            非公開
          </div>
        {% endif %}
        <a href="{% url 'app:quiz_update' quiz.pk %}" class="update btn">編集</a>
        <a href="{% url 'app:quiz_delete' quiz.pk %}" class="delete btn">削除</a>
      {% endif %}

      <div class="sns">
        <a class="btn share" id="twitter" target="_blank" rel="noopener noreferrer"></a>
        <a class="btn share" id="line" target="_blank" rel="noopener noreferrer"></a>
      </div>
    </div>


  </div>
{% endblock content %}

{% block foot %}
<script>
  // icon size
  var backElm = getElm(".main .quiz .q .back");
  var iconWrapperElm = backElm.querySelector(".wrapper");
  iconWrapperElm.style.width = backElm.clientHeight + "px";

  var backElm = getElm(".main .quiz .a .back");
  backElm.style.fontSize = backElm.clientHeight * 0.9 + "px";

  // slash info position
  var slashElms = getElms(".main .quiz .q .slash")
  var center_w = document.body.clientWidth / 2
  for(var slashElm of slashElms) {
    var w = slashElm.getBoundingClientRect().x
    if(w < center_w) {
      slashElm.classList.add("left")
    } else {
      slashElm.classList.add("right")
    }
  }

  // sns share
  var snsBtnElms = getElms(".sns .share")
  const URL = location.href
  const Q =  "{{ quiz.question }}"
  for(var snsBtnElm of snsBtnElms) {
    if ("twitter" == snsBtnElm.id) {
      snsBtnElm.setAttribute("href", createSNSURL(snsBtnElm.id, URL, Q))
    } else if ("line" == snsBtnElm.id) {
      snsBtnElm.setAttribute("href", createSNSURL(snsBtnElm.id, URL, Q))
    }
  }
</script>
{% endblock foot %}