{% extends 'comp/base.html' %}

{% block class %}quiz list{% endblock class %}

{% block content %}

  <div class="list quiz_list">
    {% for quiz in quizes %}
      <a href="{% url 'quiz_detail' quiz.pk %}" class="item">
        <div class="q">{{ quiz.question }}</div>
        <div class="foot">
          <div class="author">
            <i class="fas fa-user"></i>
            {{ quiz.author }}
          </div>
          <div class="update">
            <i class="fas fa-history"></i>
            {{ quiz.updated_at }}
          </div>
        </div>
      </a>
    {% endfor %}
  </div>

{% endblock content %}
