{% extends 'comp/base.html' %}

{% block class %}quiz list{% endblock class %}

{% block content %}

  <div class="left">
    <form action="" method="get">
      問題文
      <input name="question" value="{{ request.GET.question }}" type="text"><br>
      解答
      <input name="answer" value="{{ request.GET.answer }}" type="text">
      <button class="btn" type="submit">検索</button>
      <button class="btn" type="button" clear>クリア</button>
    </form>
  </div>

  <div class="list quiz_list">
    {% for quiz in quizes %}
      <div class="item">
        <a class="q" href="{% url 'app:quiz_detail' quiz.pk %}">
          {{ quiz.question }}
        </a>
        <div class="foot">
          <a href="{% url 'app:userpage' quiz.author %}" class="author">
            <i class="fas fa-user"></i>
            {{ quiz.author }}
          </a>
          <div class="update">
            <i class="fas fa-history"></i>
            {{ quiz.updated_at }}
          </div>
        </div>
        <div class="icon_wrap">
          {% include 'comp/icon.html' %}
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="right"></div>

{% endblock content %}
