{% extends 'comp/base.html' %}

{% block class %}quiz list{% endblock class %}

{% block content %}

  <div class="left">
    <div class="title">
      {% for t in title %}
        {% if t.s %}
          <span>{{ t.text }}</span>
        {% else %}
          {{ t.text }}<br>
        {% endif %}
      {% endfor %}
      一覧
    </div>
  </div>

  <div class="list quiz_list">
    {% for quiz in quizes %}
      <div class="item">
        <a class="q" href="{% url 'app:quiz_detail' quiz.pk %}">
          {{ quiz.question }}
        </a>
        <div class="foot">
          {% include 'quiz/goodquiz.html' with quiz=quiz cnt=True %}
          {% include 'quiz/betamon.html' with quiz=quiz cnt=True %}
          <a href="{% url 'app:userpage' quiz.author %}" class="author">
            <i class="fas fa-user"></i>
            {{ quiz.author }}
          </a>
          <div class="update">
            <i class="fas fa-history"></i>
            {{ quiz.updated_at|date:"Y/m/d H:i" }}
          </div>
        </div>
        <div class="icon_wrap">
          {% include 'comp/icon.html' %}
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="right">
    <div class="quiz_search">
      クイズ検索
      <form action="" method="get">
        <div class="form_item text">
          <label>
            問題文
            <textarea name="question">{{request.GET.question}}</textarea>
          </label>
        </div>
        <div class="form_item">
          <input type="checkbox" id="is_start" name="is_start" {{ is_start }}>
          <label for="is_start">
            <div class="light"></div>先頭検索
          </label>
        </div>
        <div class="form_item">
          問題文検索方法
          <div class="radio_button">
            <input type="radio" name="q" id="q_or" value="or" {{ q_or }}>
            <label for="q_or">
              <div class="light"></div>OR検索
            </label>
            <input type="radio" name="q" id="q_and" value="and" {{ q_and }}>
            <label for="q_and">
              <div class="light"></div>AND検索
            </label>
          </div>
        </div>
        <div class="form_item text">
          <label>
            解答
            <textarea name="answer">{{request.GET.answer}}</textarea>
          </label>
        </div>
        <div class="form_item">
          解答検索方法
          <div class="radio_button">
            <input type="radio" name="a" id="a_or" value="or" {{ a_or }}>
            <label for="a_or">
              <div class="light"></div>OR検索
            </label>
            <input type="radio" name="a" id="a_and" value="and" {{ a_and }}>
            <label for="a_and">
              <div class="light"></div>AND検索
            </label>
          </div>
        </div>
        <div class="form_item">
          問題文解答検索方法
          <div class="radio_button">
            <input type="radio" name="qa" id="qa_or" value="or" {{ qa_or }}>
            <label for="qa_or">
              <div class="light"></div>OR検索
            </label>
            <input type="radio" name="qa" id="qa_and" value="and" {{ qa_and }}>
            <label for="qa_and">
              <div class="light"></div>AND検索
            </label>
          </div>
        </div>
        <div class="btns">
          <button class="btn" type="submit">検索</button>
          <button class="btn" type="button" clear>クリア</button>
        </div>
      </form>
    </div>
  </div>

{% endblock content %}
