@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Poppins:wght@900&display=swap");
a {
  color: #000;
  text-decoration: none;
}

a:visited {
  color: #000;
  text-decoration: none;
}
a:visited * {
  text-decoration: none;
}

button {
  border: none;
  background: none;
}

:root {
  --orange: #F09A54;
  --green: #56DC7E;
  --red: #F25E5E;
  --blue: #4985E6;
  --purple: #9B66CC;
  --green-dark: #24AD4E;
  --blue-dark: #1D65D7;
  --orange-rgb: 240, 154, 84;
  --green-rgb: 86, 220, 126;
  --red-rgb: 242, 94, 94;
  --blue-rgb: 73, 133, 230;
  --header-height: 50px;
  --footer-height: 30px;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}
.page > .main {
  width: 100%;
  height: calc(100% - var(--header-height) - var(--footer-height));
  flex-grow: 2;
}

.icon {
  --color: var(--green);
  --inner: #fff;
  --size: 32px;
  --width: calc(var(--size) * 0.225);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--size);
  padding-top: var(--size);
  transform: rotate(45deg);
}
.icon.on {
  -webkit-animation: rotate 0.8s;
          animation: rotate 0.8s;
}
@-webkit-keyframes rotate {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}
.icon .o {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 100%;
  border: var(--width) solid var(--color);
}
.icon .q {
  position: absolute;
  top: 50%;
  right: -10%;
  width: 50%;
  height: 23%;
  background-color: var(--color);
  transform: translateY(-50%);
}

.o_icon {
  --size: 32px;
  --color: var(--red);
  --width: calc(var(--size) * .3);
  width: var(--size);
  height: var(--size);
  box-sizing: border-box;
  border: var(--width) solid var(--color);
  border-radius: 100%;
}

.x {
  --size: 32px;
  --color: var(--blue);
  --width: calc(var(--size) * 0.3);
  position: relative;
  width: var(--size);
  height: var(--size);
  display: flex;
  align-items: center;
}
.x:after, .x:before {
  content: "";
  position: absolute;
  height: var(--width);
  width: 100%;
  background: var(--color);
  transform: rotate(45deg);
}
.x:before {
  transform: rotate(-45deg);
}

body > .back {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  top: 0;
  left: -3%;
  width: 106%;
  height: 100vh;
  z-index: -1;
  pointer-events: none;
}
body > .back .icon {
  --size: 40px;
  opacity: 0.1;
}
body > .back .line {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
body > .back .line:nth-child(even) {
  justify-content: space-between;
}
body > .back .line:nth-child(even) .icon:first-child, body > .back .line:nth-child(even) .icon:last-child {
  opacity: 0;
}

header {
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--header-height);
  background-color: var(--green);
  color: #fff;
  z-index: 6;
}
header .logo {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 20px;
  color: #fff;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 2px;
}
header .logo .icon {
  --color: #fff;
  --inner: var(--green);
  --size: 32px;
}
header .logo .text {
  display: flex;
  align-items: flex-end;
  margin-left: 3px;
  height: 100%;
}
header nav {
  flex-grow: 2;
}
header nav a {
  color: #fff !important;
  font-weight: 600;
  padding: 8px 10px;
  border-radius: 10px;
  transition: 0.2s;
}
header nav a:hover {
  color: var(--green) !important;
  background-color: #fff;
}
header .user {
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: 20px;
  font-weight: 600;
  font-size: 1.1rem;
}
header .user .useritem {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 10px;
  color: #fff;
  cursor: pointer;
}
header .user .useritem:not(:first-child) {
  margin-left: 20px;
}
header .user .useritem:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 0;
  height: 3px;
  background-color: #fff;
  transition: 0.2s;
}
header .user .useritem i {
  font-size: 20px;
  margin-right: 10px;
}
header .user .useritem:hover:before {
  width: 100%;
}
header .user .useritem .user_menu {
  background-color: var(--green);
}
header .user .useritem .user_menu .menuitem a {
  color: #fff;
}
header .user .useritem .user_menu .menuitem:not(:first-child) {
  border-top-color: #fff;
}
header .user .useritem .user_menu .menuitem:last-child {
  border-top-width: 3px;
}
header .user .useritem .user_menu .menuitem:hover a {
  color: var(--green);
  background-color: #fff;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: var(--footer-height);
  align-self: flex-end;
  font-size: 0.9rem;
  letter-spacing: 3px;
  font-weight: bold;
  color: #fff;
  background-color: var(--green);
}

.widget_parent {
  position: relative;
}
.widget_parent .widget {
  position: absolute;
  top: 100%;
  right: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s opacity;
  z-index: 3;
}
.widget_parent .widget:hover {
  opacity: 1;
  visibility: visible;
}
.widget_parent:hover .widget {
  opacity: 1;
  visibility: visible;
  transition: visibility 3s;
}

.btn {
  --size: 64px;
  --color1: var(--red);
  --color2: #fff;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: calc(var(--size) * 0.2);
  width: var(--size);
  height: calc(var(--size) * 1.2);
  color: var(--color2);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 20px;
  font-weight: 500;
}
.btn:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--size);
  background-color: var(--color1);
  border-radius: 100000px;
  z-index: -1;
}
.btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color1);
  filter: brightness(0.9);
  border-radius: 100000px;
  z-index: -2;
}
.btn:hover {
  transform: translateY(2%);
}
.btn:hover:before {
  height: 98%;
}
.btn:active {
  transform: translateY(10%);
}
.btn:active:before {
  height: 90%;
}
.btn:visited {
  color: var(--color2);
}
.btn#twitter {
  --color1: #00acee;
}
.btn#twitter:after {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Font Awesome 5 Brands";
  color: #fff;
}
.btn#line {
  --color1: #06c755;
}
.btn#line:after {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Font Awesome 5 Brands";
  color: #fff;
}

.light {
  --color: var(--red);
  --size: 64px;
  --ratio: 0.6;
  position: relative;
  width: calc(var(--size) * var(--ratio));
  height: var(--size);
}
.light:after, .light:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color);
  opacity: 0.5;
  border-radius: 10000px;
  filter: saturate(0.3);
  transition: 0.1s;
}
.light:after {
  height: 100%;
}
.light:before {
  height: calc(var(--size) * var(--ratio));
}
.light.on {
  filter: drop-shadow(0 0 3px var(--color));
}
.light.on:after, .light.on:before {
  opacity: 0.5;
  filter: saturate(1);
}

input[type=checkbox], input[type=radio] {
  display: none;
}
input[type=checkbox] + label, input[type=radio] + label {
  cursor: pointer;
}
input[type=checkbox]:checked + label .light, input[type=radio]:checked + label .light {
  filter: drop-shadow(0 0 3px var(--color));
}
input[type=checkbox]:checked + label .light:after, input[type=checkbox]:checked + label .light:before, input[type=radio]:checked + label .light:after, input[type=radio]:checked + label .light:before {
  opacity: 0.5;
  filter: saturate(1);
}

.notice_list {
  position: fixed;
  right: 0;
  top: var(--header-height);
  padding: 15px 10px;
  width: 20%;
  z-index: 5;
}
.notice_list .notice_item {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 8px 10px;
  background: #fff;
  border: 3px solid var(--red);
  border-radius: 10px;
  margin-bottom: 15px;
}
.notice_list .notice_item.on {
  -webkit-animation: slideIn 0.5s 1;
          animation: slideIn 0.5s 1;
}
@-webkit-keyframes slideIn {
  0% {
    left: 150%;
  }
  100% {
    left: 0%;
  }
}
@keyframes slideIn {
  0% {
    left: 150%;
  }
  100% {
    left: 0%;
  }
}
.notice_list .notice_item.off {
  -webkit-animation: slideOut 0.5s 1 forwards;
          animation: slideOut 0.5s 1 forwards;
}
@-webkit-keyframes slideOut {
  0% {
    left: 0%;
  }
  100% {
    left: 150%;
  }
}
@keyframes slideOut {
  0% {
    left: 0%;
  }
  100% {
    left: 150%;
  }
}
.notice_list .notice_item .o_icon {
  margin-right: 10px;
}
.notice_list .notice_item.copy.q {
  border-color: var(--green);
}
.notice_list .notice_item.copy.a {
  border-color: var(--orange);
}

.quiz.list .main {
  display: flex;
  justify-content: center;
  overflow-y: scroll;
}
.quiz.list .main > .list {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 60%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 50px 10px;
}
.quiz.list .main > .list .item {
  position: relative;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 135px;
  padding: 20px 5px;
  background-color: #fffa;
}
.quiz.list .main > .list .item:not(:last-child) {
  border-bottom: 3px solid #0003;
}
.quiz.list .main > .list .item .icon_wrap {
  --size: 60px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.2;
}
.quiz.list .main > .list .item .icon_wrap .icon {
  --size: 100px;
}
.quiz.list .main > .list .item > .q {
  display: block;
  position: relative;
  z-index: 1;
  margin-bottom: 10px;
  font-size: 1.2rem;
  padding: 20px 10px;
}
.quiz.list .main > .list .item .foot {
  position: relative;
  z-index: 1;
  display: flex;
  color: #888;
  padding: 0 20px;
}
.quiz.list .main > .list .item .foot .gq, .quiz.list .main > .list .item .foot .beta {
  color: #aaa;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: 0.1s;
}
.quiz.list .main > .list .item .foot .gq .cnt, .quiz.list .main > .list .item .foot .beta .cnt {
  margin-left: 2em;
}
.quiz.list .main > .list .item .foot .gq.on, .quiz.list .main > .list .item .foot .beta.on {
  color: var(--orange);
}
.quiz.list .main > .list .item .foot .beta.on {
  color: var(--blue);
}
.quiz.list .main > .list .item .foot *:not(:first-child) {
  margin-left: 10px;
}
.quiz.list .main .left, .quiz.list .main .right {
  width: 20%;
}
.quiz.list .main .left {
  padding: 2em 1em;
}
.quiz.list .main .left .title {
  line-height: 2em;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.2em;
}
.quiz.list .main .left .title span {
  font-size: 2em;
  font-weight: 900;
  color: var(--orange);
}
.quiz.list .main .quiz_search {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 20px 5px;
  height: 100%;
}
.quiz.list .main .quiz_search form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-size: 0.7em;
  flex-grow: 1;
}
.quiz.list .main .quiz_search form .form_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}
.quiz.list .main .quiz_search form .form_item.text {
  flex-grow: 1;
}
.quiz.list .main .quiz_search form .form_item.text label {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.quiz.list .main .quiz_search form textarea {
  width: 100%;
  resize: none;
  flex-grow: 1;
}
.quiz.list .main .quiz_search form input[type=checkbox] + label, .quiz.list .main .quiz_search form input[type=radio] + label {
  display: flex;
  align-items: center;
}
.quiz.list .main .quiz_search form input[type=checkbox] + label .light, .quiz.list .main .quiz_search form input[type=radio] + label .light {
  --size: 20px;
  --ratio: .7;
  margin-right: 5px;
}
.quiz.list .main .quiz_search form .radio_button {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 5px;
}
.quiz.list .main .quiz_search form .btns {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin-top: 10px;
}
.quiz.list .main .quiz_search form .btns .btn {
  --color1: var(--blue);
  --size: 60px;
  font-size: 18px;
}
.quiz.list .main .quiz_search form .btns .btn[clear] {
  --color1: var(--red);
  letter-spacing: -3px;
}

.page.quiz.detail .main, .page.quiz.delete .main, .page.quiz.create .main, .page.quiz.update .main {
  width: 100%;
}
.page.quiz.detail .main .quiz, .page.quiz.delete .main .quiz, .page.quiz.create .main .quiz, .page.quiz.update .main .quiz {
  width: 100%;
  height: 70%;
}
.page.quiz.detail .main .quiz > .q, .page.quiz.detail .main .quiz > .a, .page.quiz.delete .main .quiz > .q, .page.quiz.delete .main .quiz > .a, .page.quiz.create .main .quiz > .q, .page.quiz.create .main .quiz > .a, .page.quiz.update .main .quiz > .q, .page.quiz.update .main .quiz > .a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 100%;
  font-size: 2.5rem;
  font-weight: 500;
}
.page.quiz.detail .main .quiz > .q .text, .page.quiz.detail .main .quiz > .a .text, .page.quiz.delete .main .quiz > .q .text, .page.quiz.delete .main .quiz > .a .text, .page.quiz.create .main .quiz > .q .text, .page.quiz.create .main .quiz > .a .text, .page.quiz.update .main .quiz > .q .text, .page.quiz.update .main .quiz > .a .text {
  z-index: 1;
}
.page.quiz.detail .main .quiz > .q .back, .page.quiz.detail .main .quiz > .a .back, .page.quiz.delete .main .quiz > .q .back, .page.quiz.delete .main .quiz > .a .back, .page.quiz.create .main .quiz > .q .back, .page.quiz.create .main .quiz > .a .back, .page.quiz.update .main .quiz > .q .back, .page.quiz.update .main .quiz > .a .back {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
  font-family: "Poppins";
  color: rgba(var(--orange-rgb), 0.3);
  font-weight: 900;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.page.quiz.detail .main .quiz > .q .back .wrapper, .page.quiz.detail .main .quiz > .a .back .wrapper, .page.quiz.delete .main .quiz > .q .back .wrapper, .page.quiz.delete .main .quiz > .a .back .wrapper, .page.quiz.create .main .quiz > .q .back .wrapper, .page.quiz.create .main .quiz > .a .back .wrapper, .page.quiz.update .main .quiz > .q .back .wrapper, .page.quiz.update .main .quiz > .a .back .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
}
.page.quiz.detail .main .quiz > .q .back .wrapper .icon, .page.quiz.detail .main .quiz > .a .back .wrapper .icon, .page.quiz.delete .main .quiz > .q .back .wrapper .icon, .page.quiz.delete .main .quiz > .a .back .wrapper .icon, .page.quiz.create .main .quiz > .q .back .wrapper .icon, .page.quiz.create .main .quiz > .a .back .wrapper .icon, .page.quiz.update .main .quiz > .q .back .wrapper .icon, .page.quiz.update .main .quiz > .a .back .wrapper .icon {
  --color: var(--green);
  --size: 200px;
  opacity: 0.3;
}
.page.quiz.detail .main .quiz > .q .btn, .page.quiz.detail .main .quiz > .a .btn, .page.quiz.delete .main .quiz > .q .btn, .page.quiz.delete .main .quiz > .a .btn, .page.quiz.create .main .quiz > .q .btn, .page.quiz.create .main .quiz > .a .btn, .page.quiz.update .main .quiz > .q .btn, .page.quiz.update .main .quiz > .a .btn {
  --size: 48px;
  --color1: rgba(var(--orange-rgb));
  position: absolute;
  bottom: 0;
  right: 5%;
  font-size: 18px;
}
.page.quiz.detail .main .quiz > .q .btn span, .page.quiz.detail .main .quiz > .a .btn span, .page.quiz.delete .main .quiz > .q .btn span, .page.quiz.delete .main .quiz > .a .btn span, .page.quiz.create .main .quiz > .q .btn span, .page.quiz.create .main .quiz > .a .btn span, .page.quiz.update .main .quiz > .q .btn span, .page.quiz.update .main .quiz > .a .btn span {
  font-size: 18px;
}
.page.quiz.detail .main .quiz > .q, .page.quiz.delete .main .quiz > .q, .page.quiz.create .main .quiz > .q, .page.quiz.update .main .quiz > .q {
  padding: 1% 3%;
  z-index: 2;
}
.page.quiz.detail .main .quiz > .q .text, .page.quiz.delete .main .quiz > .q .text, .page.quiz.create .main .quiz > .q .text, .page.quiz.update .main .quiz > .q .text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.page.quiz.detail .main .quiz > .q .text .slash, .page.quiz.delete .main .quiz > .q .text .slash, .page.quiz.create .main .quiz > .q .text .slash, .page.quiz.update .main .quiz > .q .text .slash {
  position: relative;
  display: inline-block;
  height: 1em;
  width: 0.15em;
  margin: 0 0.1em;
}
.page.quiz.detail .main .quiz > .q .text .slash:after, .page.quiz.delete .main .quiz > .q .text .slash:after, .page.quiz.create .main .quiz > .q .text .slash:after, .page.quiz.update .main .quiz > .q .text .slash:after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  background: #0001;
  transform: skewX(-10deg);
  transition: 0.2s;
}
.page.quiz.detail .main .quiz > .q .text .slash .box, .page.quiz.delete .main .quiz > .q .text .slash .box, .page.quiz.create .main .quiz > .q .text .slash .box, .page.quiz.update .main .quiz > .q .text .slash .box {
  position: absolute;
  top: 100%;
  right: 0;
  height: 200px;
  width: 200px;
  background: #fff;
  border: 2px solid #000;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
  z-index: 1;
}
.page.quiz.detail .main .quiz > .q .text .slash .box div, .page.quiz.delete .main .quiz > .q .text .slash .box div, .page.quiz.create .main .quiz > .q .text .slash .box div, .page.quiz.update .main .quiz > .q .text .slash .box div {
  font-size: 1rem;
  font-weight: 300;
}
.page.quiz.detail .main .quiz > .q .text .slash.left .box, .page.quiz.delete .main .quiz > .q .text .slash.left .box, .page.quiz.create .main .quiz > .q .text .slash.left .box, .page.quiz.update .main .quiz > .q .text .slash.left .box {
  left: 0;
  right: auto;
}
.page.quiz.detail .main .quiz > .q .text .slash:hover:after, .page.quiz.delete .main .quiz > .q .text .slash:hover:after, .page.quiz.create .main .quiz > .q .text .slash:hover:after, .page.quiz.update .main .quiz > .q .text .slash:hover:after {
  background: #000;
}
.page.quiz.detail .main .quiz > .q .text .slash:hover .box, .page.quiz.delete .main .quiz > .q .text .slash:hover .box, .page.quiz.create .main .quiz > .q .text .slash:hover .box, .page.quiz.update .main .quiz > .q .text .slash:hover .box {
  opacity: 1;
  visibility: visible;
}
.page.quiz.detail .main .quiz > .q .btn, .page.quiz.delete .main .quiz > .q .btn, .page.quiz.create .main .quiz > .q .btn, .page.quiz.update .main .quiz > .q .btn {
  --color1: rgba(var(--green-rgb));
}
.page.quiz.detail .main .quiz > .a .text, .page.quiz.delete .main .quiz > .a .text, .page.quiz.create .main .quiz > .a .text, .page.quiz.update .main .quiz > .a .text {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 3.5rem;
  letter-spacing: 5px;
  font-weight: 600;
}
.page.quiz.detail .main .quiz > .a .text div, .page.quiz.delete .main .quiz > .a .text div, .page.quiz.create .main .quiz > .a .text div, .page.quiz.update .main .quiz > .a .text div {
  position: absolute;
  top: 100%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 0.4em;
}
.page.quiz.detail .main .info, .page.quiz.delete .main .info, .page.quiz.create .main .info, .page.quiz.update .main .info {
  display: flex;
  width: 100%;
  height: 30%;
}
.page.quiz.detail .main .info .btns, .page.quiz.delete .main .info .btns, .page.quiz.create .main .info .btns, .page.quiz.update .main .info .btns {
  display: flex;
}
.page.quiz.detail .main .info .btns .btn:not(.share), .page.quiz.delete .main .info .btns .btn:not(.share), .page.quiz.create .main .info .btns .btn:not(.share), .page.quiz.update .main .info .btns .btn:not(.share) {
  font-size: 20px;
  font-weight: 600;
}
.page.quiz.detail .main .info .btns .update, .page.quiz.detail .main .info .btns .draft, .page.quiz.detail .main .info .btns .publish, .page.quiz.delete .main .info .btns .update, .page.quiz.delete .main .info .btns .draft, .page.quiz.delete .main .info .btns .publish, .page.quiz.create .main .info .btns .update, .page.quiz.create .main .info .btns .draft, .page.quiz.create .main .info .btns .publish, .page.quiz.update .main .info .btns .update, .page.quiz.update .main .info .btns .draft, .page.quiz.update .main .info .btns .publish {
  --color1: var(--blue);
}
.page.quiz.detail .main .info .btns .draft, .page.quiz.delete .main .info .btns .draft, .page.quiz.create .main .info .btns .draft, .page.quiz.update .main .info .btns .draft {
  font-size: 17px !important;
}
.page.quiz.detail .main .info .btns .sns, .page.quiz.delete .main .info .btns .sns, .page.quiz.create .main .info .btns .sns, .page.quiz.update .main .info .btns .sns {
  display: flex;
}
.page.quiz.detail .main .info .btns button, .page.quiz.delete .main .info .btns button, .page.quiz.create .main .info .btns button, .page.quiz.update .main .info .btns button {
  border: none;
  background: none;
}

.page.quiz.delete form {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}
.page.quiz.delete form .text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--red);
  font-size: 2.5rem;
  font-weight: 600;
  padding: 10px 30px;
  border: 5px solid var(--red);
  border-radius: 10px;
  background: #fff;
}
.page.quiz.delete form .text .icon {
  --size: 60px;
  --color: var(--red);
  margin-right: 20px;
}
.page.quiz.delete form input[type=submit] {
  font-size: 3rem;
  font-weight: 600;
  padding: 10px 30px;
  border-radius: 1000px;
  border: 5px solid var(--red);
  background: var(--red);
  color: #fff;
  cursor: pointer;
  transition: 0.2s;
}
.page.quiz.delete form input[type=submit]:hover {
  background: #fff;
  color: var(--red);
}

.page.quiz.create .form, .page.quiz.update .form {
  width: 100%;
  height: 100%;
}
.page.quiz.create .form form, .page.quiz.update .form form {
  width: 100%;
  height: 100%;
}
.page.quiz.create .form form textarea, .page.quiz.create .form form input, .page.quiz.update .form form textarea, .page.quiz.update .form form input {
  background: transparent;
  border-color: transparent;
  box-sizing: border-box;
}
.page.quiz.create .form form textarea:focus, .page.quiz.create .form form input:focus, .page.quiz.update .form form textarea:focus, .page.quiz.update .form form input:focus {
  outline: none;
}
.page.quiz.create .form form .quiz .q .text, .page.quiz.update .form form .quiz .q .text {
  width: 100%;
  height: 100%;
}
.page.quiz.create .form form .quiz .q .text textarea, .page.quiz.update .form form .quiz .q .text textarea {
  width: 100%;
  height: 100%;
  resize: none;
  border-width: 5px;
  border-bottom: 5px solid var(--green);
}
.page.quiz.create .form form .quiz .q .text textarea:focus, .page.quiz.update .form form .quiz .q .text textarea:focus {
  border: 5px solid var(--green);
}
.page.quiz.create .form form .quiz .a input, .page.quiz.update .form form .quiz .a input {
  width: 100%;
  height: 100%;
  border-width: 3px;
  border-bottom: 3px solid var(--orange);
}
.page.quiz.create .form form .quiz .a input:focus, .page.quiz.update .form form .quiz .a input:focus {
  border: 3px solid var(--orange);
}
.page.quiz.create .form form .info, .page.quiz.update .form form .info {
  display: flex;
  align-items: center;
  justify-content: center;
}
.page.quiz.create .form form .info button, .page.quiz.update .form form .info button {
  position: relative;
  width: 80px;
  height: 80px;
  background: var(--blue);
  color: #fff;
  border-radius: 1000px;
  border: none;
  font-size: 1.8rem;
  font-weight: 600;
  cursor: pointer;
}
.page.quiz.create .form form .info button:before, .page.quiz.update .form form .info button:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100px;
  background-color: var(--blue-dark);
  border-radius: 1000px;
  z-index: -1;
}
.page.quiz.create .form form .info button:hover, .page.quiz.update .form form .info button:hover {
  top: 2px;
}
.page.quiz.create .form form .info button:hover:before, .page.quiz.update .form form .info button:hover:before {
  height: 98px;
}
.page.quiz.create .form form .info button:focus, .page.quiz.update .form form .info button:focus {
  top: 10px;
}
.page.quiz.create .form form .info button:focus:before, .page.quiz.update .form form .info button:focus:before {
  height: 90px;
}

.page.form.login .main, .page.form.signup .main, .page.form.password_change .main {
  display: flex;
  align-items: center;
  justify-content: center;
}
.page.form.login .main .form, .page.form.signup .main .form, .page.form.password_change .main .form {
  width: 350px;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 20px 5px rgba(var(--green-rgb), 0.2);
}
.page.form.login .main .form .title, .page.form.signup .main .form .title, .page.form.password_change .main .form .title {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 600;
}
.page.form.login .main .form .text, .page.form.signup .main .form .text, .page.form.password_change .main .form .text {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 1.2rem;
  margin-bottom: 20px;
}
.page.form.login .main .form .text .subtext, .page.form.signup .main .form .text .subtext, .page.form.password_change .main .form .text .subtext {
  font-size: 0.7em;
  color: #888;
}
.page.form.login .main .form .text .icon, .page.form.signup .main .form .text .icon, .page.form.password_change .main .form .text .icon {
  --size: 50px;
  margin-bottom: 15px;
}
.page.form.login .main .form .error_list, .page.form.signup .main .form .error_list, .page.form.password_change .main .form .error_list {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 1rem;
  padding: 10px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  border: 2px solid var(--blue);
  border-radius: 10px;
  background-color: rgba(var(--blue-rgb), 0.1);
}
.page.form.login .main .form .error_list .x, .page.form.signup .main .form .error_list .x, .page.form.password_change .main .form .error_list .x {
  --size: 50px;
  margin-bottom: 10px;
}
.page.form.login .main .form form, .page.form.signup .main .form form, .page.form.password_change .main .form form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 1.2rem;
  margin: 0 30px;
}
.page.form.login .main .form form .form_item, .page.form.signup .main .form form .form_item, .page.form.password_change .main .form form .form_item {
  margin: 10px 0;
}
.page.form.login .main .form form .form_item .input, .page.form.signup .main .form form .form_item .input, .page.form.password_change .main .form form .form_item .input {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.page.form.login .main .form form .form_item .input label, .page.form.signup .main .form form .form_item .input label, .page.form.password_change .main .form form .form_item .input label {
  display: flex;
  align-items: center;
  position: absolute;
  left: 5px;
  padding: 0 2px;
  font-size: 1rem;
  transition: 0.2s;
}
.page.form.login .main .form form .form_item .input input, .page.form.signup .main .form form .form_item .input input, .page.form.password_change .main .form form .form_item .input input {
  border: 2px solid #eee;
  padding: 5px;
  transition: 0.2s;
  box-sizing: border-box;
  border-radius: 5px;
}
.page.form.login .main .form form .form_item .input input::-moz-placeholder, .page.form.signup .main .form form .form_item .input input::-moz-placeholder, .page.form.password_change .main .form form .form_item .input input::-moz-placeholder {
  color: transparent;
}
.page.form.login .main .form form .form_item .input input:-ms-input-placeholder, .page.form.signup .main .form form .form_item .input input:-ms-input-placeholder, .page.form.password_change .main .form form .form_item .input input:-ms-input-placeholder {
  color: transparent;
}
.page.form.login .main .form form .form_item .input input::placeholder, .page.form.signup .main .form form .form_item .input input::placeholder, .page.form.password_change .main .form form .form_item .input input::placeholder {
  color: transparent;
}
.page.form.login .main .form form .form_item .input input:focus, .page.form.signup .main .form form .form_item .input input:focus, .page.form.password_change .main .form form .form_item .input input:focus {
  outline: none;
  border: 2px solid var(--orange);
}
.page.form.login .main .form form .form_item .input input:focus + label, .page.form.signup .main .form form .form_item .input input:focus + label, .page.form.password_change .main .form form .form_item .input input:focus + label {
  transform: translateY(-100%);
  background: #fff;
}
.page.form.login .main .form form .form_item .input input:not(:-moz-placeholder-shown) + label, .page.form.signup .main .form form .form_item .input input:not(:-moz-placeholder-shown) + label, .page.form.password_change .main .form form .form_item .input input:not(:-moz-placeholder-shown) + label {
  top: auto;
  bottom: 75%;
  background: #fff;
}
.page.form.login .main .form form .form_item .input input:not(:-ms-input-placeholder) + label, .page.form.signup .main .form form .form_item .input input:not(:-ms-input-placeholder) + label, .page.form.password_change .main .form form .form_item .input input:not(:-ms-input-placeholder) + label {
  top: auto;
  bottom: 75%;
  background: #fff;
}
.page.form.login .main .form form .form_item .input input:not(:placeholder-shown) + label, .page.form.signup .main .form form .form_item .input input:not(:placeholder-shown) + label, .page.form.password_change .main .form form .form_item .input input:not(:placeholder-shown) + label {
  top: auto;
  bottom: 75%;
  background: #fff;
}
.page.form.login .main .form form .form_item .help_text, .page.form.signup .main .form form .form_item .help_text, .page.form.password_change .main .form form .form_item .help_text {
  font-size: 0.9rem;
  padding-left: 5px;
  color: #aaa;
}
.page.form.login .main .form form .form_item .help_text ul, .page.form.signup .main .form form .form_item .help_text ul, .page.form.password_change .main .form form .form_item .help_text ul {
  padding-left: 2em;
}
.page.form.login .main .form form .form_item .password_forget, .page.form.signup .main .form form .form_item .password_forget, .page.form.password_change .main .form form .form_item .password_forget {
  font-size: 0.7rem;
  color: var(--green);
  margin-left: 10px;
}
.page.form.login .main .form form .form_buttons, .page.form.signup .main .form form .form_buttons, .page.form.password_change .main .form form .form_buttons {
  margin-top: 50px;
}
.page.form.login .main .form form .form_buttons button, .page.form.signup .main .form form .form_buttons button, .page.form.password_change .main .form form .form_buttons button {
  cursor: pointer;
  padding: 7px 10px;
  font-size: 1rem;
  border-radius: 1000px;
}
.page.form.login .main .form form .form_buttons button[type=submit], .page.form.signup .main .form form .form_buttons button[type=submit], .page.form.password_change .main .form form .form_buttons button[type=submit] {
  background: var(--orange);
  border: 2px solid var(--orange);
  color: #fff;
  font-weight: 600;
  transition: 0.2s;
}
.page.form.login .main .form form .form_buttons button[type=submit]:hover, .page.form.signup .main .form form .form_buttons button[type=submit]:hover, .page.form.password_change .main .form form .form_buttons button[type=submit]:hover {
  background: #fff;
  color: var(--orange);
}
.page.form.login .main .form form .form_buttons button:not([type=submit]), .page.form.signup .main .form form .form_buttons button:not([type=submit]), .page.form.password_change .main .form form .form_buttons button:not([type=submit]) {
  background-color: #eee;
  border: solid 2px #ddd;
  color: #777;
  transition: 0.2s;
}
.page.form.login .main .form form .form_buttons button:not([type=submit]):hover, .page.form.signup .main .form form .form_buttons button:not([type=submit]):hover, .page.form.password_change .main .form form .form_buttons button:not([type=submit]):hover {
  background-color: #fff;
}

.user_menu.menu .menuitem:not(:first-child) {
  border-top: 2px solid #ddd;
}
.user_menu.menu .menuitem:last-child {
  border-top-color: #aaa;
}
.user_menu.menu .menuitem a {
  width: 100%;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  transition: 0.2s;
}
.user_menu.menu .menuitem a:hover {
  background-color: var(--green);
  color: #fff;
}
.user_menu.menu .menuitem span {
  margin-right: 10px;
}

.page.password_reset_done .main, .page.password_reset_complete .main {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 900;
}/*# sourceMappingURL=style.css.map */