@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Poppins:wght@900&display=swap");
a {
  color: #000;
  text-decoration: none;
}

a:visited {
  color: #000;
  text-decoration: none;
}
a:visited * {
  text-decoration: none;
}

:root {
  --orange: #F09A54;
  --green: #56DC7E;
  --red: #F25E5E;
  --blue: #4985E6;
  --dark-green: #24AD4E;
  --green-rgb: 86, 220, 126;
  --orange-rgb: 240, 154, 84;
  --blue-rgb: 73, 133, 230;
  --header-height: 50px;
  --footer-height: 30px;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}
.page > .main {
  width: 100%;
  min-height: calc(100% - var(--header-height) - var(--footer-height));
  flex-grow: 2;
}

.icon {
  --color: var(--green);
  --inner: #fff;
  --size: 32px;
  --width: calc(var(--size) * 0.225);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--size);
  padding-top: var(--size);
  transform: rotate(45deg);
}
.icon.on {
  -webkit-animation: rotate 0.8s;
          animation: rotate 0.8s;
}
@-webkit-keyframes rotate {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}
.icon .o {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 100%;
  border: var(--width) solid var(--color);
}
.icon .q {
  position: absolute;
  top: 50%;
  right: -10%;
  width: 50%;
  height: 23%;
  background-color: var(--color);
  transform: translateY(-50%);
}

.x {
  --size: 32px;
  --color: var(--blue);
  --width: calc(var(--size) * 0.3);
  position: relative;
  width: var(--size);
  height: var(--size);
  display: flex;
  align-items: center;
}
.x:after, .x:before {
  content: "";
  position: absolute;
  height: var(--width);
  width: 100%;
  background: var(--color);
  transform: rotate(45deg);
}
.x:before {
  transform: rotate(-45deg);
}

body > .back {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  top: 0;
  left: -3%;
  width: 106%;
  height: 100vh;
  z-index: -1;
  pointer-events: none;
}
body > .back .icon {
  --size: 40px;
  opacity: 0.1;
}
body > .back .line {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
body > .back .line:nth-child(even) {
  justify-content: space-between;
}
body > .back .line:nth-child(even) .icon:first-child, body > .back .line:nth-child(even) .icon:last-child {
  opacity: 0;
}

header {
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--header-height);
  background-color: var(--green);
  color: #fff;
}
header .logo {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 20px;
  color: #fff;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 2px;
}
header .logo .icon {
  --color: #fff;
  --inner: var(--green);
  --size: 32px;
}
header .logo .text {
  display: flex;
  align-items: flex-end;
  margin-left: 3px;
  height: 100%;
}
header nav {
  flex-grow: 2;
}
header .user {
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: 20px;
  font-weight: 600;
  font-size: 1.1rem;
}
header .user a {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  color: #fff;
}
header .user a:not(:first-child) {
  margin-left: 20px;
}
header .user a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 0;
  height: 3px;
  background-color: #fff;
  transition: 0.2s;
}
header .user a:hover:before {
  width: 100%;
}
header .user a span {
  margin-right: 5px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: var(--footer-height);
  align-self: flex-end;
  font-size: 0.9rem;
  letter-spacing: 3px;
  font-weight: bold;
  color: #fff;
  background-color: var(--green);
}

.main > .list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-top: 20px;
}
.main > .list .item {
  --q-color: rgba(var(--orange-rgb), 1);
  --q-border: 70%;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 400px;
  height: 80px;
  margin-bottom: 20px;
  padding: 0px 40px;
  border-radius: 10000px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 0 10px #0002;
  font-size: 1.1rem;
}
.main > .list .item .q {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1%;
  z-index: 1;
}
.main > .list .item .foot {
  display: flex;
  align-items: center;
  height: 30%;
  width: 100%;
}
.main > .list .item .foot > * {
  margin: 3px 10px;
  font-size: 0.8rem;
}
.main > .list .item .foot > * i {
  margin-right: 8px;
}
.main > .list .item:after, .main > .list .item:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}
.main > .list .item:after {
  right: 90%;
  background: radial-gradient(circle closest-corner at 100%, transparent, transparent var(--q-border), var(--q-color) var(--q-border));
}
.main > .list .item:before {
  left: 90%;
  background: radial-gradient(circle closest-corner at 0%, transparent, transparent var(--q-border), var(--q-color) var(--q-border));
}

.page.quiz.detail .main {
  width: 100%;
  height: 100%;
}
.page.quiz.detail .main .quiz {
  width: 100%;
  height: 70%;
}
.page.quiz.detail .main .quiz > .q, .page.quiz.detail .main .quiz > .a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 100%;
  font-size: 2.5rem;
  font-weight: 500;
}
.page.quiz.detail .main .quiz > .q .text, .page.quiz.detail .main .quiz > .a .text {
  z-index: 1;
}
.page.quiz.detail .main .quiz > .q .back, .page.quiz.detail .main .quiz > .a .back {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
  font-family: "Poppins";
  color: rgba(var(--orange-rgb), 0.3);
  font-weight: 900;
}
.page.quiz.detail .main .quiz > .q .back .wrapper, .page.quiz.detail .main .quiz > .a .back .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
}
.page.quiz.detail .main .quiz > .q .back .wrapper .icon, .page.quiz.detail .main .quiz > .a .back .wrapper .icon {
  --color: var(--green);
  width: 80%;
  padding-top: 80%;
  opacity: 0.3;
}
.page.quiz.detail .main .quiz > .q {
  padding: 1% 3%;
  z-index: 2;
}
.page.quiz.detail .main .quiz > .q .text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.page.quiz.detail .main .quiz > .q .text .slash {
  position: relative;
  display: inline-block;
  height: 1em;
  width: 0.15em;
  margin: 0 0.1em;
}
.page.quiz.detail .main .quiz > .q .text .slash:after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  background: #0001;
  transform: skewX(-10deg);
  transition: 0.2s;
}
.page.quiz.detail .main .quiz > .q .text .slash .box {
  position: absolute;
  top: 100%;
  right: 0;
  height: 200px;
  width: 200px;
  background: #fff;
  border: 2px solid #000;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
  z-index: 1;
}
.page.quiz.detail .main .quiz > .q .text .slash .box div {
  font-size: 1rem;
  font-weight: 300;
}
.page.quiz.detail .main .quiz > .q .text .slash.left .box {
  left: 0;
  right: auto;
}
.page.quiz.detail .main .quiz > .q .text .slash:hover:after {
  background: #000;
}
.page.quiz.detail .main .quiz > .q .text .slash:hover .box {
  opacity: 1;
  visibility: visible;
}
.page.quiz.detail .main .info {
  width: 100%;
  height: 30%;
}

.page.form.login .main, .page.form.signup .main {
  display: flex;
  align-items: center;
  justify-content: center;
}
.page.form.login .main .form, .page.form.signup .main .form {
  width: 350px;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 20px 5px rgba(var(--green-rgb), 0.2);
}
.page.form.login .main .form .title, .page.form.signup .main .form .title {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 600;
}
.page.form.login .main .form .text, .page.form.signup .main .form .text {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 1.2rem;
  margin-bottom: 20px;
}
.page.form.login .main .form .text .icon, .page.form.signup .main .form .text .icon {
  --size: 50px;
  margin-bottom: 15px;
}
.page.form.login .main .form .error_list, .page.form.signup .main .form .error_list {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 1rem;
  padding: 10px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  border: 2px solid var(--blue);
  border-radius: 10px;
  background-color: rgba(var(--blue-rgb), 0.1);
}
.page.form.login .main .form .error_list .x, .page.form.signup .main .form .error_list .x {
  --size: 50px;
  margin-bottom: 10px;
}
.page.form.login .main .form form, .page.form.signup .main .form form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 1.2rem;
  margin: 0 30px;
}
.page.form.login .main .form form .form_item, .page.form.signup .main .form form .form_item {
  margin: 10px 0;
}
.page.form.login .main .form form .form_item .input, .page.form.signup .main .form form .form_item .input {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.page.form.login .main .form form .form_item .input label, .page.form.signup .main .form form .form_item .input label {
  display: flex;
  align-items: center;
  position: absolute;
  left: 5px;
  padding: 0 2px;
  font-size: 1rem;
  transition: 0.2s;
}
.page.form.login .main .form form .form_item .input input, .page.form.signup .main .form form .form_item .input input {
  border: 2px solid #eee;
  padding: 5px;
  transition: 0.2s;
  box-sizing: border-box;
  border-radius: 5px;
}
.page.form.login .main .form form .form_item .input input::-moz-placeholder, .page.form.signup .main .form form .form_item .input input::-moz-placeholder {
  color: transparent;
}
.page.form.login .main .form form .form_item .input input:-ms-input-placeholder, .page.form.signup .main .form form .form_item .input input:-ms-input-placeholder {
  color: transparent;
}
.page.form.login .main .form form .form_item .input input::placeholder, .page.form.signup .main .form form .form_item .input input::placeholder {
  color: transparent;
}
.page.form.login .main .form form .form_item .input input:focus, .page.form.signup .main .form form .form_item .input input:focus {
  outline: none;
  border: 2px solid var(--orange);
}
.page.form.login .main .form form .form_item .input input:focus + label, .page.form.signup .main .form form .form_item .input input:focus + label {
  transform: translateY(-100%);
  background: #fff;
}
.page.form.login .main .form form .form_item .input input:not(:-moz-placeholder-shown) + label, .page.form.signup .main .form form .form_item .input input:not(:-moz-placeholder-shown) + label {
  top: auto;
  bottom: 75%;
  background: #fff;
}
.page.form.login .main .form form .form_item .input input:not(:-ms-input-placeholder) + label, .page.form.signup .main .form form .form_item .input input:not(:-ms-input-placeholder) + label {
  top: auto;
  bottom: 75%;
  background: #fff;
}
.page.form.login .main .form form .form_item .input input:not(:placeholder-shown) + label, .page.form.signup .main .form form .form_item .input input:not(:placeholder-shown) + label {
  top: auto;
  bottom: 75%;
  background: #fff;
}
.page.form.login .main .form form .form_item .help_text, .page.form.signup .main .form form .form_item .help_text {
  font-size: 0.9rem;
  padding-left: 5px;
  color: #aaa;
}
.page.form.login .main .form form .form_buttons, .page.form.signup .main .form form .form_buttons {
  margin-top: 50px;
}
.page.form.login .main .form form .form_buttons button, .page.form.signup .main .form form .form_buttons button {
  cursor: pointer;
  padding: 7px 20px;
  border-radius: 1000px;
}
.page.form.login .main .form form .form_buttons button[type=submit], .page.form.signup .main .form form .form_buttons button[type=submit] {
  background: var(--orange);
  border: 2px solid var(--orange);
  color: #fff;
  font-weight: 600;
  transition: 0.2s;
}
.page.form.login .main .form form .form_buttons button[type=submit]:hover, .page.form.signup .main .form form .form_buttons button[type=submit]:hover {
  background: #fff;
  color: var(--orange);
}
.page.form.login .main .form form .form_buttons button:not([type=submit]), .page.form.signup .main .form form .form_buttons button:not([type=submit]) {
  background-color: #eee;
  border: solid 2px #ddd;
  color: #777;
  transition: 0.2s;
}
.page.form.login .main .form form .form_buttons button:not([type=submit]):hover, .page.form.signup .main .form form .form_buttons button:not([type=submit]):hover {
  background-color: #fff;
}/*# sourceMappingURL=style.css.map */