{% load static %}

<head>
  <title>Quiz/Lab</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- fontawesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
  <!-- google fonts icon all -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Sharp|Material+Icons+Round|Material+Icons+Two+Tone">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="{% static 'js/lib.js' %}"></script>
  <script src="{% static 'js/notice.js' %}"></script>
  <script src="{% static 'js/copy-btn.js' %}"></script>
  <script src="{% static 'js/sns.js' %}"></script>
  <script src="{% static 'js/form-clear.js' %}"></script>
  <script src="{% static 'js/goodquiz.js' %}"></script>
  <link rel="stylesheet" href=" {% static 'css/reset.css' %}">
  <link rel="stylesheet" href=" {% static 'css/style.css' %}">
</head>
