<div class="notice_list">
  {% if request.GET.state == 'logout' %}
    <div class="notice_item logout on" data-live-time="5">
      {% include 'comp/o.html' %}
      ログアウトしました。
    </div>
  {% elif request.GET.state == 'login' %}
    <div class="notice_item login on" data-live-time="5">
      {% include 'comp/o.html' %}
      ログインしました。
    </div>
  {% endif %}
</div>

<script>
window.addEventListener("DOMContentLoaded", _ => {
  var noticeItems = getElms(".notice_item");
  for(var noticeItem of noticeItems) {
    var liveTime = noticeItem.getAttribute('data-live-time')
    setTimeout(_ => {
      noticeItem.classList.remove("on")
      noticeItem.classList.add("off")
    }, parseInt(liveTime) * 1000)
  }
})
</script>
