<div class="notice_list">
  {% if 'logout' in request.GET.state%}
    <div class="notice_item logout on" data-live-time="5">
      {% include 'comp/o.html' %}
      ログアウトしました。
    </div>
  {% elif 'login' in request.GET.state %}
    <div class="notice_item login on" data-live-time="5">
      {% include 'comp/o.html' %}
      ログインしました。
    </div>
  {% endif %}

  {% if 'password_change' in request.GET.state %}
  <div class="notice_item password_change on" data-live-time="5">
    {% include 'comp/o.html' %}
    パスワードを変更しました。
  </div>
  {% endif %}

</div>

<script>
window.addEventListener("DOMContentLoaded", _ => {
  var noticeItems = getElms(".notice_item");
  for(var noticeItem of noticeItems) {
    var liveTime = noticeItem.getAttribute('data-live-time')
    noticeItem.addEventListener("animationend", e => {
      if(noticeItem.classList.contains("off")) {
        noticeItem.remove()
      }
    })
    setTimeout(_ => {
      noticeItem.classList.remove("on")
      noticeItem.classList.add("off")
    }, parseInt(liveTime) * 1000)
  }
})
</script>
