.page.index {
  .main {
    display: flex;
    align-items: center;
    justify-content: center;

    .todays {
      position: relative;
      font-size: 2rem;
      width: 50%;
      background: #fff;
      box-shadow: 0 0 50px -25px #000;
      padding: .5em 1em;
      border-radius: 10px;

      .title {
        position: relative;
        font-weight: 300;
        display: flex;
        align-items: flex-end;
        margin-bottom: .5em;

        &:after {
          content: "";
          height: 1px;
          background-color: var(--green);
          flex-grow: 1;
          align-self: center;
        }

        & > span {
          display: inline-flex;
          align-items: baseline;
          font-size: 0.6em;
          letter-spacing: 0.1em;
          margin: 0 1em;
          font-weight: 300;

          span {
            font-size: 1.2em;
            margin-left: .5em;
            font-weight: 600;
            color: var(--green);
            font-family: "Poppins";
          }
        }
      }

      .q {
        padding: 0 .5em;
        margin-bottom: 2em;
        font-size: 0.7em;
        letter-spacing: .08em;
      }

      .foot {
        font-size: .6em;
        width: 100%;
        display: flex;
        justify-content: flex-end;

        a {
          color: var(--green-dark);
          letter-spacing: .1em;
          padding-bottom: .1em;
        }
      }
    }
  }
}