@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Poppins:wght@900&display=swap');

:root {
  --orange: #F09A54;
  --green: #56DC7E;
  --dark-green: #24AD4E;
  --green-rgb: 86, 220, 126;
  --orange-rgb: 240, 154, 84;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;

  &>.main {
    width: 100%;
    flex-grow: 2;
  }
}