.page.quiz {
  &.create, &.update {
    .form {
      width: 100%;
      height: 100%;

      form {
        width: 100%;
        height: 100%;

        textarea, input {
          background: transparent;
          border-color: transparent;
          box-sizing: border-box;

          &:focus {
            outline: none;
          }
        }

        .quiz {
          .q {
            .text {
              width: 100%;
              height: 100%;

              textarea {
                width: 100%;
                height: 100%;
                resize: none;

                &:focus {
                  background-color: rgba(var(--green-rgb), .1);
                }
              }
            }
          }

          .a {
            .text {
            }
            input {
              width: 100%;
              height: 100%;

              &:focus {
                background-color: rgba(var(--orange-rgb), .1);
              }
            }
          }
        }

        .info {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: transparent;

          .btn {
            --color1: var(--blue);

            .window {
              box-shadow: 0 0 30px -10px #000;
            }

            &[name="draft"] {
              font-size: 17px;
              margin-left: 20px;
            }
          }
        }
      }
    }
  }
}