.page.quiz {
  &.detail, &.delete, &.create, &.update {
    .main {
      width: 100%;

      .quiz {
        width: 100%;
        height: 70%;

        &>.q, &>.a {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 50%;
          width: 100%;
          font-size: 2.5rem;
          font-weight: 500;

          .text {
            z-index: 1;
          }

          .back {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            height: 100%;
            width: 100%;
            font-family: 'Poppins';
            color: rgba(var(--orange-rgb), 0.3);
            font-weight: 900;
            user-select: none;

            .wrapper {
              display: flex;
              align-items: center;
              justify-content: center;
              position: absolute;
              height: 100%;

              .icon {
                --color: var(--green);
                --size: 200px;
                opacity: .3;
              }
            }
          }

          .btn {
            --size: 48px;
            --color1: rgba(var(--orange-rgb));
            position: absolute;
            bottom: 0;
            right: 5%;
            font-size: 18px;

            span {
              font-size: 18px;
            }
          }

        }

        &>.q {
          padding: 1% 3%;
          z-index: 2;

          .text {
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            .slash {
              position: relative;
              display: inline-block;
              height: 1em;
              width: 0.15em;
              margin: 0 0.1em;

              &:after {
                content: "";
                display: block;
                height: 100%;
                width: 100%;
                background: #0001;
                // transform: rotate(10deg);
                transform: skewX(-10deg);
                transition: 0.2s;
              }

              .box {
                position: absolute;
                top: 100%;
                right: 0;
                height: 200px;
                width: 200px;
                background: #fffd;
                opacity: 0;
                visibility: hidden;
                transition: .2s;
                z-index: 1;
                font-size: 1rem;
                box-shadow: 0 0 50px -35px var(--green);

                * {
                  font-size: 1rem;
                  font-weight: 300;
                }
              }

              &.left .box {
                left: 0;
                right: auto;
              }

              &:hover {

                &:after {
                  background: #000;
                }
                .box {
                  opacity: 1;
                  visibility: visible;
                }
              }
            }
          }

          .btn {
            --color1: rgba(var(--green-rgb));
          }
        }

        &>.a {

          .text {
            position: relative;
            display: flex;
            justify-content: center;
            font-size: 3.5rem;
            letter-spacing: 5px;
            font-weight: 600;

            div {
              position: absolute;
              top: 100%;
              width: max-content;
              font-size: 0.4em;
            }
          }
        }
      }

      .info {
        display: flex;
        width: 100%;
        height: 30%;

        .btns {
          display: flex;

          .btn:not(.share) {
            font-size: 20px;
            font-weight: 600;
          }
          .update, .draft, .publish {
            --color1: var(--blue);
          }
          .draft {
            font-size: 17px !important;
          }
          .sns {
            display: flex;
          }

          button {
            border: none;
            background: none;
          }
        }
      }
    }
  }
}