{% extends 'comp/base.html' %}


{% block class %}index{% endblock class %}

{% block content %}
  <div class="menu">
    <a href="{% url 'app:quiz_list' %}">quiz list</a>
    <a href="{% url 'app:quiz_create' %}">quiz create</a>
    <a href="{% url 'users:signup' %}?next={{ request.path }}?state=login">user create</a>
    {% if user.is_authenticated %}
      <a href="{% url 'users:logout'%}?next={{ request.path }}?state=logout">logout</a>
    {% else %}
      <a href="{% url 'users:login'%}?next={{ request.path }}?state=login">login</a>
    {% endif %}
  </div>
{% endblock content %}
